<div class="container">
  <div class="attribute">
    <a href="/" class="btn btn-outline-success btn-sm">All</a>
    <a href="/fire" class="btn btn-light btn-sm"><img
        src="https://summonerswarskyarena.info/wp-content/themes/summoners-war-child/assets/img/fire-large.png"
        alt="fire" class="icon"></a>
    <a href="/water" class="btn btn-light btn-sm"><img
        src="https://summonerswarskyarena.info/wp-content/themes/summoners-war-child/assets/img/water-large.png"
        alt="water" class="icon"></a>
    <a href="/wind" class="btn btn-light btn-sm"><img
        src="https://summonerswarskyarena.info/wp-content/themes/summoners-war-child/assets/img/wind-large.png"
        alt="wind" class="icon"></a>
    <a href="/light" class="btn btn-light btn-sm"><img
        src="https://summonerswarskyarena.info/wp-content/themes/summoners-war-child/assets/img/light-large.png"
        alt="light" class="icon"></a>
    <a href="/dark" class="mr-5 btn btn-light btn-sm"><img
        src="https://summonerswarskyarena.info/wp-content/themes/summoners-war-child/assets/img/dark-large.png"
        alt="dark" class="icon"></a>
    <a href="/atk" class="btn btn-outline-dark btn-sm"><i class=" fas fa-user-ninja"></i></a>
    <a href="/hp" class="btn btn-outline-dark btn-sm"><i class="fas fa-users"></i></a>
    <a href="/def" class="btn btn-outline-dark btn-sm"><i class="fas fa-user-shield"></i></a>
    <a href="/support" class="btn btn-outline-dark btn-sm"><i class="fas fa-user-plus"></i></a>
  </div>

  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="border" style="width: 180px">Monster</th>
        <th class="border" style="width: 50px">Type</th>
        <th class="border" style="width: 120px">Skill 1</th>
        <th class="border" style="width: 120px">Skill 2</th>
        <th class="border" style="width: 80px">Skill 3</th>
        <th class="border" style="width: 60px;">Skill 4</th>
        <th class="border" style="width: 80px">Attribute</th>
        <th class="border">Other</th>
      </tr>
    </thead>
    <tbody>

      {{#each data}}
      <tr>
        <th style="vertical-align: middle;"><img src="{{ this.img }}" class="monster mr-3">{{ this.name }}
        </th>
        <td style="vertical-align: middle;">{{ this.artifact_type }}</td>
        <td style="vertical-align: middle;">{{ this.skill_1 }}</td>
        <td style="vertical-align: middle;">{{ this.skill_2 }}</td>
        <td style="vertical-align: middle;">{{ this.skill_3 }}</td>
        <td style="vertical-align: middle;">{{ this.skill_4 }}</td>
        <td style="vertical-align: middle;">{{ this.artifact_attribute }}</td>
        <td style="vertical-align: middle;">{{ this.artifact_other }}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>


</div>