<div class="container">
  <div class="attribute " style="text-align: center;height: 50px;">
    <select name="" id="" class="mr-5">
      <option value="" selected>主屬</option>
      <option value="">攻擊</option>
      <option value="">體力</option>
      <option value="">防禦</option>
    </select>

    <a href="/fire"><i class="fas fa-fire"></i></a>
    <a href="/water"><i class="fas fa-tint mx-3"></i></a>
    <a href="/wind"><i class="fas fa-wind"></i></a>
    <a href="/light"><i class="far fa-sun mx-3"></i></a>
    <a href="/dark"><i class="fas fa-moon mr-5"></i></a>
    <a href="/atk"><i class=" fas fa-user-ninja mx-3"></i></a>
    <a href="/hp"><i class="fas fa-users"></i></a>
    <a href="/def"><i class="fas fa-user-shield mx-3"></i></a>
    <a href="/support"><i class="fas fa-user-plus"></i>
  </div>

  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="border" style="width: 180px">Monster</th>
        <th class="border" style="width: 50px">Type</th>
        <th class="border" style="width: 120px">Skill 1</th>
        <th class="border" style="width: 120px">Skill 2</th>
        <th class="border" style="width: 80px">Skill 3</th>
        <th class="border" style="width: 60px;">Skill 4</th>
        <th class="border" style="width: 80px">Attribute</th>
        <th class="border">Other</th>
      </tr>
    </thead>
    <tbody>

      {{#each data}}
      <tr>
        <th style="vertical-align: middle;"><img src="{{ this.img }}" class="monster mr-3">{{ this.name }}
        </th>
        <td style="vertical-align: middle;">{{ this.artifact_type }}</td>
        <td style="vertical-align: middle;">{{ this.skill_1 }}</td>
        <td style="vertical-align: middle;">{{ this.skill_2 }}</td>
        <td style="vertical-align: middle;">{{ this.skill_3 }}</td>
        <td style="vertical-align: middle;">{{ this.skill_4 }}</td>
        <td style="vertical-align: middle;">{{ this.artifact_attribute }}</td>
        <td style="vertical-align: middle;">{{ this.artifact_other }}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>


</div>