<div class="container">
  <div class="attribute " style="text-align: center;height: 50px;">
    <select name="" id="" class="mr-5">
      <option value="" selected>主屬</option>
      <option value="">攻擊</option>
      <option value="">體力</option>
      <option value="">防禦</option>
    </select>

    <i class="fas fa-fire"></i>
    <i class="fas fa-tint mx-3"></i>
    <i class="fas fa-wind"></i>
    <i class="far fa-sun mx-3"></i>
    <i class="fas fa-moon mr-5"></i>
    <i class=" fas fa-user-ninja mx-3"></i>
    <i class="fas fa-users"></i>
    <i class="fas fa-user-shield mx-3"></i>
    <i class="fas fa-user-plus"></i>
  </div>

  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="border">Monster</th>
        <th class="border">Type</th>
        <th class="border">Skill 1</th>
        <th class="border">Skill 2</th>
        <th class="border">Skill 3</th>
        <th class="border">Skill 4</th>
        <th class="border">Attribute</th>
        <th class="border">Other</th>
      </tr>
    </thead>
    <tbody>

      {{#each data}}
      <tr>
        <th><img src="{{ this.img }}" class="monster"></th>
        <td>{{ this.artifact_type }}</td>
        <td>{{ this.skill_1 }}</td>
        <td>{{ this.skill_2 }}</td>
        <td>{{ this.skill_3 }}</td>
        <td>{{ this.skill_4 }}</td>
        <td>{{ this.artifact_attribute }}</td>
        <td>{{ this.artifact_other }}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>


</div>